<div class="mt-5 container border shadow w-75 bg-white">

  <h6 class="mt-2"><i class="bi bi-car-front mx-2"></i>Enter Your Car details</h6>

  <div class="container  d-flex">

    <div class="col-md-8 container-fluid border-end">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Select your Brand</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" 
           data-bs-toggle="modal" data-bs-target="#exampleModal"  [placeholder]="SelectBrand" (ngModelChange)="patchbrandname()">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Select your Model</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Select Model"
          data-bs-toggle="modal" data-bs-target="#exampleModalModel" [placeholder]="SelectModel">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
      </div>
    </div>

    <div class="col-md-4 mt-5 pt-5">
      <img src="https://d2h44aw7l5xdvz.cloudfront.net/assets/img/lady-standing-beside-new-car%201.svg" alt="">
    </div>

  </div>
</div>

<div>

</div>

<div class="container d-flex justify-content-end border bg-white mt-3 p-2 rounded-start w-100 fixed-bottom">
  <nav class="navbar ">
      <div class="" id="navbarSupportedContent">
         <button routerLink="/payment" class="btn btn btn-warning p-3 shadow" type="submit">View Prices</button>
    </div>
  </nav>
</div>

<!-- Car Brand modal -->

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Select Brand</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       <app-car-brand></app-car-brand>
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>

<!-- Car Model Modal -->

<div class="modal fade" id="exampleModalModel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Select Model</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-car-model></app-car-model>
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>