<div class="container-fluid d-flex w-50 mt-3 shadow col-md-12">
    <div class="col-md-8 w-50 border-end mt-3">
        <form>
            <h3 for="">Enter Your Car Details</h3>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Select your car</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>
    <div class="col-md-4 ">
     <img src="https://d2h44aw7l5xdvz.cloudfront.net/assets/img/lady-standing-beside-new-car%201.svg" alt="" class="mt-5 p-5">
    </div>
</div>
