<img height= "500" style="position:absolute; z-index: -1;" src="https://www.godigit.com/content/dam/godigit/directportal/en/home-page-virat-banner-1.svg" alt="">
<div class="container mt-5 col-md-8" >
    <div class="">
        <h1>Do the Digit Insurance</h1>
        <h4 class="text-muted">Trusted by 5 Crore+ Indians</h4>
   </div>
    <div class=" col-md-8 mt-5">
        <ul class="nav d-flex justify-content-between text-align-center">
            <div class="car">
                <li class="nav-item" routerLink="/car">
                <img height="70" class="imgcontainer rounded-circle bg-white p-2" src="https://d2h44aw7l5xdvz.cloudfront.net/assets/icons/car-side-view.svg" alt="">
              <a class="nav-link active" aria-current="page">Car</a>
            </li>
        </div>
            
            <li class="nav-item " >
                <img class="imgcontainer rounded-circle bg-white p-2 mx-3" src="https://d2h44aw7l5xdvz.cloudfront.net/assets/icons/Autorikshaw.svg" alt="">
              <a class="nav-link">Commertial</a>
            </li>
            <li class="nav-item" routerLink="/bike">
                <img class="imgcontainer rounded-circle bg-white p-2" src="	https://d2h44aw7l5xdvz.cloudfront.net/assets/icons/motorcycle-side-view.svg" alt="">
              <a class="nav-link">Bike</a>
            </li>
            <li class="nav-item">
                <img class="imgcontainer rounded-circle bg-white p-2" src="https://d2h44aw7l5xdvz.cloudfront.net/assets/icons/health.svg" alt="">
              <a class="nav-link">Health</a>
            </li>
           
            <li class="nav-item">
                <img class="imgcontainer rounded-circle bg-white p-2" src="	https://d2h44aw7l5xdvz.cloudfront.net/assets/icons/travel-airplane.svg" alt="">
              <a class="nav-link">Travel</a>
            </li>
            <li class="nav-item">
                <img class="imgcontainer rounded-circle bg-white p-2" src="	https://d2h44aw7l5xdvz.cloudfront.net/assets/img/product-icons/home-image.svg" alt="">
              <a class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <img class="renewable imgcontainer rounded-circle bg-white p-2" src="	https://d2h44aw7l5xdvz.cloudfront.net/assets/icons/Renew%20Icon.svg" alt="">
              <a class="nav-link">Renewals</a>
            </li>
            
            
          </ul>
    </div>
</div>
<div>
</div>

