<div class="container border mt-3 shadow d-flex bg-white">
     <div class=" col-md-5 mt-3 mb-3 ">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label mx-2">Registration Number</label>
            <input type="email" class="form-control border border-0" id="exampleFormControlInput1" placeholder="E.g. MH15HL5369">
          </div>
     </div>
     <div class="col-md-5 mt-3 mb-3 border-start border-end border-subtle">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label mx-2">Mobile Number</label>
            <input type="email" class="form-control border border-0" id="exampleFormControlInput1" placeholder="+91 Mobile Number">
          </div>
     </div>
     <div class="col-md-2">
        <button type="button" class="btn btn-warning w-75 text-align-center mt-5 mx-3 mb-2 p-2 fw-bold">View Price</button>
     </div>
</div>

<div class="container d-flex  justify-content-around">
        <p class="rounded-pill p-2 mt-2 fw-bold text-warning bg-white" routerLink="/car/carreg">Don't Khow Reg. No? ></p> 
    <p class="rounded-pill p-2 mt-2 fw-bold text-warning bg-white" routerLink="/car/carreg">It's New Vehicle ></p>
    <p class="rounded-pill p-2 mt-2 fw-bold text-warning bg-white">Renew Policy ></p>
    <p class="rounded-pill p-2 mt-2 fw-bold text-warning bg-white me-5">Download Policy ></p>
    <p class=" p-2 mt-2 ms-5"><input type="checkbox">I agree to the  <span class="text-muted text-decoration-underline">Terms & Conditions</span></p>
</div>





